[display_status]

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    M104 S0
    M140 S0
    M106 S0
    G91 E-2
    CLEAR_PAUSE
    BASE_CANCEL_PRINT
    Park_toolhead
    SDCARD_RESET_FILE
    M221 S100
    BED_MESH_CLEAR

[gcode_macro DISABLE_MOTORS]
gcode:
    M18

[gcode_macro HEATSOAK]
gcode:
    G4 P{params.DWELL}

[gcode_macro M600]
gcode:
    {% set X = params.X|default(50)|float %}
    {% set Y = params.Y|default(0)|float %}
    {% set Z = params.Z|default(10)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91 
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-50 F1000
    RESTORE_GCODE_STATE NAME=M600_state

[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
gcode:
    #Edit this#
    {% set X = 230 %}
    {% set Y = 230 %}
    {% set Z = 10  %}
    ###########
    SAVE_GCODE_STATE NAME=PAUSE_state
    BASE_PAUSE
    G91
    G1 E-1.7 F2100
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F6000
    G91


[gcode_macro PRINT_END]
gcode:
    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
    # Move nozzle away from print while retracting
    G91
    G1 E-0.5 F300
    G0 Z10
    # lights off
    SET_PIN PIN=caselight VALUE=0.00


[gcode_macro PRINT_START]
gcode:
    
    {% set extruderTemp = params.EXTRUDER|default(230)|int %}  # Extruder temperature, default is 230
    {% set bedTemp = params.BED|default(90)|int %}             # Heated bed temperature, default is 90
    {% set dwellTemp = params.DWELL|default(120000)|int %}     # Heatsoaking duration in miliseconds, default 2 minutes
    {% set chamberTemp = params.DWELL|default(30)|int %}       # Chamber temp to heat to, default 30 minutes

    # Loading extruder and bed temperature
    M104 S{extruderTemp|float*0.75}
    M140 S{bedTemp}
    
    M117  Waiting for temperatures...
    M190 S{bedTemp} # Wait for bed to come to temperature
    # RESPOND PREFIX= MSG="Waiting for thermal expansion..."
    M117 Waiting for thermal expansion...
    HEATSOAK DWELL={dwellTemp} # Dwelling
    
    # Homing and creating a mesh
    M117 Creating a mesh...
    G28
    BED_MESH_CALIBRATE
    M104 S{extruderTemp} # Set extruder to printing temperature

    # lights on, purge
    SET_PIN PIN=caselight VALUE=1.00
    PRIME_LINE

[gcode_macro PRIME_LINE]
gcode:
    SAVE_GCODE_STATE NAME=BEFORE_PRIME
    M117 Prime Line
    G0 X15.0 Y10.0 F5000.0  ; Go to X3 Y3
    G1 Z0.2 F200            ; Set nozzle height
    G92 E0.0                ; reset extrusion distance
    G1 X60.0 E9.0 F1000.0   ; intro line
    #G1 X100.0 E12.5 F1000.0 ; intro line
    G1 X100.0 E10 F1000.0 ; intro line
    G92 E0.0                ; reset extrusion distance
    G1 Z1 F5000             ; Lift Z
    RESTORE_GCODE_STATE NAME=BEFORE_PRIME  

[gcode_macro PURGE]
gcode:
    SAVE_GCODE_STATE NAME=BEFORE_PURGE
    M117 Purging
    G0 X2 Y2 F5000
    G91
    G1 E9 F500
    G90
    RESTORE_GCODE_STATE NAME=BEFORE_PURGE

[gcode_macro RESUME]
rename_existing: BASE_RESUME
gcode:
    G91
    G1 E1.7 F2100
    G91
    RESTORE_GCODE_STATE NAME=PAUSE_state MOVE=1
    BASE_RESUME

[gcode_macro Screws_tilt]
gcode:
    G28 #Home All Axes
    SCREWS_TILT_CALCULATE samples=3
    # G1 X{ home_x - probe_x_offset } Y230 Z200 F{ travel_speed }

[gcode_macro SEARCH_VARS]
gcode:
    {% set search = params.S|lower %}
    {% set ns = namespace() %}
    {% for item in printer  %}
        {% if ' ' in item %}
            {% set ns.path = ['printer', "['%s']" % (item), ''] %}
        {% else %}
            {% set ns.path = ['printer.', item, ''] %}   
        {% endif %} 

        {% if search in ns.path|lower %}
            { action_respond_info(ns.path|join) }
        {% endif %} 

        {% if printer[item].items() %}
            {% for childkey, child in printer[item].items() recursive %}
                {% set ns.path = ns.path[:loop.depth|int + 1] %}

                {% if ' ' in childkey %}
                    {% set null = ns.path.append("['%s']" % (childkey)) %}
                {% else %}
                    {% set null = ns.path.append(".%s" % (childkey)) %}
                {% endif %} 

                {% if child is mapping  %}
                    { loop(child.items()) }
                {% else %}
                    {% if search in ns.path|lower %}
                        { action_respond_info("%s : %s" % (ns.path|join, child)) }   
                    {% endif %} 
                {% endif %} 
                
            {% endfor %}
        {% endif %} 
    {% endfor %}

[gcode_macro TOGGLE_CASELIGHT]
gcode:
  SET_PIN PIN=caselight VALUE={(not printer['output_pin caselight'].value)|int}

[gcode_macro ZUP]
gcode:
    SET_GCODE_OFFSET Z_ADJUST=0.01 MOVE=1

[gcode_macro ZDOWN]
gcode:
    SET_GCODE_OFFSET Z_ADJUST=-0.01 MOVE=1


[pause_resume]

[virtual_sdcard]
path: ~/gcode_files

