[display_status]

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    M104 S0
    M140 S0
    M106 S0
    G91 E-2
    CLEAR_PAUSE
    BASE_CANCEL_PRINT
    Park_toolhead
    SDCARD_RESET_FILE
    M221 S100
    BED_MESH_CLEAR

[gcode_macro DISABLE_MOTORS]
gcode:
    M18

[gcode_macro HEATSOAK]
gcode:
    G4 P30000

[gcode_macro M600]
gcode:
    {% set X = params.X|default(50)|float %}
    {% set Y = params.Y|default(0)|float %}
    {% set Z = params.Z|default(10)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91 
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-50 F1000
    RESTORE_GCODE_STATE NAME=M600_state

[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
gcode:
    #Edit this#
    {% set X = 230 %}
    {% set Y = 230 %}
    {% set Z = 10  %}
    ###########
    SAVE_GCODE_STATE NAME=PAUSE_state
    BASE_PAUSE
    G91
    G1 E-1.7 F2100
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F6000
    G91

[gcode_macro PRINT_END]
gcode:
    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
    # Move nozzle away from print while retracting
    G91
    G1 E-0.5 F300
    G0 Z5

[gcode_macro PRINT_START]
gcode:
    SET_PIN PIN=caselight VALUE=1.00
    # Use absolute coordinates
    G90
    # Home the printer
    G28
	# Mesh level
	BED_MESH_CLEAR
	BED_MESH_CALIBRATE
    HEATSOAK DWELL={params.DWELL}
	# ABS
	# SET_GCODE_OFFSET Z=+0.52
	# PLA
	# SET_GCODE_OFFSET Z=-0.10

[gcode_macro RESUME]
rename_existing: BASE_RESUME
gcode:
    G91
    G1 E1.7 F2100
    G91
    RESTORE_GCODE_STATE NAME=PAUSE_state MOVE=1
    BASE_RESUME

[gcode_macro Screws_tilt]
gcode:
    G28 #Home All Axes
    SCREWS_TILT_CALCULATE samples=3
    # G1 X{ home_x - probe_x_offset } Y230 Z200 F{ travel_speed }

[gcode_macro SEARCH_VARS]
gcode:
    {% set search = params.S|lower %}
    {% set ns = namespace() %}
    {% for item in printer  %}
        {% if ' ' in item %}
            {% set ns.path = ['printer', "['%s']" % (item), ''] %}
        {% else %}
            {% set ns.path = ['printer.', item, ''] %}   
        {% endif %} 

        {% if search in ns.path|lower %}
            { action_respond_info(ns.path|join) }
        {% endif %} 

        {% if printer[item].items() %}
            {% for childkey, child in printer[item].items() recursive %}
                {% set ns.path = ns.path[:loop.depth|int + 1] %}

                {% if ' ' in childkey %}
                    {% set null = ns.path.append("['%s']" % (childkey)) %}
                {% else %}
                    {% set null = ns.path.append(".%s" % (childkey)) %}
                {% endif %} 

                {% if child is mapping  %}
                    { loop(child.items()) }
                {% else %}
                    {% if search in ns.path|lower %}
                        { action_respond_info("%s : %s" % (ns.path|join, child)) }   
                    {% endif %} 
                {% endif %} 
                
            {% endfor %}
        {% endif %} 
    {% endfor %}

[gcode_macro TOGGLE_CASELIGHT]
gcode:
  SET_PIN PIN=caselight VALUE={(not printer['output_pin caselight'].value)|int}

[gcode_macro ZUP]
gcode:
    SET_GCODE_OFFSET Z_ADJUST=0.01 MOVE=1

[gcode_macro ZDOWN]
gcode:
    SET_GCODE_OFFSET Z_ADJUST=-0.01 MOVE=1


[pause_resume]

[virtual_sdcard]
path: ~/gcode_files

